@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');
// Color
$color-base: #454545;
$color-black: #000000;
$color-blue: #164FA0;
$color-blue-op30: rgba(22, 79, 160,0.3);
$color-blue-op70: rgba(22, 79, 160,0.73);
$color-blue-bold: #0E4595;
$color-blue-light: #1973BB;
$color-blue-sky: #E5F4FF;
$color-white: #FFFFFF;
$color-lavender: #EDF1FC;
// $color-a: #ffeb1b;

// Font Family


$font-base: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$font-number: 'Roboto Condensed', sans-serif;
// $font-base: "Noto Sans JP", sans-serif;
$font-noto:  'Noto Serif JP', serif;
$font-a: 'EB Garamond', serif;
$font-b: Arial, "Helvetica Neue", Helvetica, sans-serif;
