@charset "UTF-8";
/* -------------------
  CONTACT PAGE
--------------------*/
.c-contact__message {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 750px) {
  .c-contact__message {
    margin-bottom: 2rem;
    text-align: left;
  }
}
.c-contact__note {
  max-width: 660px;
  margin: -3rem auto 0;
}
@media screen and (max-width: 750px) {
  .c-contact__note {
    margin-top: -1.5rem;
  }
}
.c-contact__privacy {
  height: 22rem;
  background: $color-white;
  border: 1px solid #ccc;
  overflow: auto;
  font-size: 1.0rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.c-contact__privacy__inner {
  padding: 2rem;
}
@media screen and (max-width: 750px) {
  .c-contact__privacy__inner {
    padding: 1.5rem;
  }
}
.c-contact__privacy__text {
  margin-bottom: 1.4em;
}
.c-contact__privacy__list__title {
  margin-top: 0.7em;
}
@media screen and (max-width: 750px) {
  .c-contact__privacy-check {
    font-size: 1.0rem;
  }
}
.c-contact__action {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 4em;
  @include mq() {
    display: block;
    margin-top: 2rem;

    li {
      margin-bottom: 20px;
    }
  }
  @include mq(sm2) {
    display: flex;
    flex-flow: column-reverse;
    align-items: unset;
    li {
      margin-bottom: 20px;
      .c-button {
        margin: 0;
      }
    }
  }
}
.c-contact__action__button {
  margin: 0 1rem;
}
.c-contact__back {
  margin-top: 6rem;
  text-align: center;
}
.c-contact__back__anchor {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.c-contact__back__anchor::after {
  content: "";
  display: block;
  background: url(../assets/ui/button-arrow.blu.svg) center right/contain no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 0.5em;
}
.c-contact__back__anchor:hover {
  text-decoration: underline;
}

.c-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38rem;
  margin: 0 auto 4rem;
}
@media screen and (max-width: 750px) {
  .c-steps {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.c-steps__col {
  width: 4.8rem;
  position: relative;
}
@media screen and (max-width: 750px) {
  .c-steps__col {
    width: 11.5rem;
  }
}
.c-steps__col + .c-steps__col::before {
  content: "";
  display: block;
  height: 1px;
  width: 10rem;
  position: absolute;
  top: 1.4rem;
  left: -11rem;
  background: #d5d5d5;
}
@media screen and (max-width: 750px) {
  .c-steps__col + .c-steps__col::before {
    width: 3rem;
    left: -1.4333rem;
  }
}
.c-steps__col__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  background: #f4f5f7;
  font-size: 1.2em;
  font-weight: bold;
  color: $color-blue;
  margin-bottom: 12px;
}
.c-steps__col__label {
  position: relative;
  left: 50%;
  white-space: nowrap;
  text-align: center;
  width: 10em;
  margin-left: -5em;
}
@media screen and (max-width: 750px) {
  .c-steps__col__label {
    font-size: 0.8rem;
  }
}
.c-steps__col.is-active .c-steps__col__number {
  background: $color-blue;
  color: $color-white;
}

.c-form__row {
  border-top: 1px solid #d5d5d5;
  padding: 1.4rem 0;
}
@media screen and (min-width: 751px) {
  .c-form__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
  }
  .c-form__row.has-child {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .c-form__row {
    padding: 1.2rem 0;
  }
}
.c-form__row.is-sub {
  width: 100%;
  padding: 0;
  border: none;
}
.c-form__row.is-sub + .c-form__row.is-sub {
  margin-top: 2rem;
}
@media screen and (max-width: 750px) {
  .c-form__row.is-sub + .c-form__row.is-sub {
    margin-top: 1.5rem;
  }
}
.c-form__row.is-vertical-top {
  align-items: flex-start;
}
.c-form__row.is-vertical-top .c-form__row__label {
  padding-top: 1.5rem;
}
.c-form__row__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
  padding: 1.2rem 2rem;
  font-weight: bold;
  flex-shrink: 0;
  font-size: 1.0em;
}
.mw_wp_form_confirm .c-form__row__label {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 750px) {
  .c-form__row__label {
    width: auto;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .c-form__row__label__text {
    margin-right: 0.5em;
  }
}
.c-form__row__field {
  padding: 0 1.2rem;
  flex-grow: 1;
}
.u-m-0 {
  margin: 0rem;
}

.u-mh-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.u-mv-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.u-mt-0 {
  margin-top: 0rem;
}

.u-mb-0 {
  margin-bottom: 0rem;
}

.u-ml-0 {
  margin-left: 0rem;
}

.u-mr-0 {
  margin-right: 0rem;
}

.u-p-0 {
  padding: 0rem;
}

.u-ph-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.u-pv-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.u-pt-0 {
  padding-top: 0rem;
}

.u-pb-0 {
  padding-bottom: 0rem;
}

.u-pl-0 {
  padding-left: 0rem;
}

.u-pr-0 {
  padding-right: 0rem;
}

.u-m-1 {
  margin: 1rem;
}

.u-mh-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.u-mv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-mt-1 {
  margin-top: 1rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-ml-1 {
  margin-left: 1rem;
}

.u-mr-1 {
  margin-right: 1rem;
}

.u-p-1 {
  padding: 1rem;
}

.u-ph-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-pv-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-pt-1 {
  padding-top: 1rem;
}

.u-pb-1 {
  padding-bottom: 1rem;
}

.u-pl-1 {
  padding-left: 1rem;
}

.u-pr-1 {
  padding-right: 1rem;
}

.u-m-2 {
  margin: 2rem;
}

.u-mh-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.u-mv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-ml-2 {
  margin-left: 2rem;
}

.u-mr-2 {
  margin-right: 2rem;
}

.u-p-2 {
  padding: 2rem;
}

.u-ph-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-pv-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-pt-2 {
  padding-top: 2rem;
}

.u-pb-2 {
  padding-bottom: 2rem;
}

.u-pl-2 {
  padding-left: 2rem;
}

.u-pr-2 {
  padding-right: 2rem;
}

.u-m-3 {
  margin: 3rem;
}

.u-mh-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.u-mv-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.u-mt-3 {
  margin-top: 3rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.u-ml-3 {
  margin-left: 3rem;
}

.u-mr-3 {
  margin-right: 3rem;
}

.u-p-3 {
  padding: 3rem;
}

.u-ph-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.u-pv-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.u-pt-3 {
  padding-top: 3rem;
}

.u-pb-3 {
  padding-bottom: 3rem;
}

.u-pl-3 {
  padding-left: 3rem;
}

.u-pr-3 {
  padding-right: 3rem;
}

.u-m-4 {
  margin: 4rem;
}

.u-mh-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.u-mv-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.u-mt-4 {
  margin-top: 4rem;
}

.u-mb-4 {
  margin-bottom: 4rem;
}

.u-ml-4 {
  margin-left: 4rem;
}

.u-mr-4 {
  margin-right: 4rem;
}

.u-p-4 {
  padding: 4rem;
}

.u-ph-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-pv-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-pt-4 {
  padding-top: 4rem;
}

.u-pb-4 {
  padding-bottom: 4rem;
}

.u-pl-4 {
  padding-left: 4rem;
}

.u-pr-4 {
  padding-right: 4rem;
}

.u-m-5 {
  margin: 5rem;
}

.u-mh-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.u-mv-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.u-mt-5 {
  margin-top: 5rem;
}

.u-mb-5 {
  margin-bottom: 5rem;
}

.u-ml-5 {
  margin-left: 5rem;
}

.u-mr-5 {
  margin-right: 5rem;
}

.u-p-5 {
  padding: 5rem;
}

.u-ph-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.u-pv-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.u-pt-5 {
  padding-top: 5rem;
}

.u-pb-5 {
  padding-bottom: 5rem;
}

.u-pl-5 {
  padding-left: 5rem;
}

.u-pr-5 {
  padding-right: 5rem;
}

.u-m-6 {
  margin: 6rem;
}

.u-mh-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.u-mv-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.u-mt-6 {
  margin-top: 6rem;
}

.u-mb-6 {
  margin-bottom: 6rem;
}

.u-ml-6 {
  margin-left: 6rem;
}

.u-mr-6 {
  margin-right: 6rem;
}

.u-p-6 {
  padding: 6rem;
}

.u-ph-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.u-pv-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.u-pt-6 {
  padding-top: 6rem;
}

.u-pb-6 {
  padding-bottom: 6rem;
}

.u-pl-6 {
  padding-left: 6rem;
}

.u-pr-6 {
  padding-right: 6rem;
}

.u-m-7 {
  margin: 7rem;
}

.u-mh-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.u-mv-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.u-mt-7 {
  margin-top: 7rem;
}

.u-mb-7 {
  margin-bottom: 7rem;
}

.u-ml-7 {
  margin-left: 7rem;
}

.u-mr-7 {
  margin-right: 7rem;
}

.u-p-7 {
  padding: 7rem;
}

.u-ph-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.u-pv-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.u-pt-7 {
  padding-top: 7rem;
}

.u-pb-7 {
  padding-bottom: 7rem;
}

.u-pl-7 {
  padding-left: 7rem;
}

.u-pr-7 {
  padding-right: 7rem;
}

.u-m-8 {
  margin: 8rem;
}

.u-mh-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.u-mv-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-mt-8 {
  margin-top: 8rem;
}

.u-mb-8 {
  margin-bottom: 8rem;
}

.u-ml-8 {
  margin-left: 8rem;
}

.u-mr-8 {
  margin-right: 8rem;
}

.u-p-8 {
  padding: 8rem;
}

.u-ph-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.u-pv-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.u-pt-8 {
  padding-top: 8rem;
}

.u-pb-8 {
  padding-bottom: 8rem;
}

.u-pl-8 {
  padding-left: 8rem;
}

.u-pr-8 {
  padding-right: 8rem;
}

.u-m-9 {
  margin: 9rem;
}

.u-mh-9 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.u-mv-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.u-mt-9 {
  margin-top: 9rem;
}

.u-mb-9 {
  margin-bottom: 9rem;
}

.u-ml-9 {
  margin-left: 9rem;
}

.u-mr-9 {
  margin-right: 9rem;
}

.u-p-9 {
  padding: 9rem;
}

.u-ph-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.u-pv-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.u-pt-9 {
  padding-top: 9rem;
}

.u-pb-9 {
  padding-bottom: 9rem;
}

.u-pl-9 {
  padding-left: 9rem;
}

.u-pr-9 {
  padding-right: 9rem;
}

.u-m-10 {
  margin: 10rem;
}

.u-mh-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.u-mv-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.u-mt-10 {
  margin-top: 10rem;
}

.u-mb-10 {
  margin-bottom: 10rem;
}

.u-ml-10 {
  margin-left: 10rem;
}

.u-mr-10 {
  margin-right: 10rem;
}

.u-p-10 {
  padding: 10rem;
}

.u-ph-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.u-pv-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.u-pt-10 {
  padding-top: 10rem;
}

.u-pb-10 {
  padding-bottom: 10rem;
}

.u-pl-10 {
  padding-left: 10rem;
}

.u-pr-10 {
  padding-right: 10rem;
}

@media screen and (min-width: 751px) {
  .u-pc-m-0 {
    margin: 0rem;
  }

  .u-pc-mh-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .u-pc-mv-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .u-pc-mt-0 {
    margin-top: 0rem;
  }

  .u-pc-mb-0 {
    margin-bottom: 0rem;
  }

  .u-pc-ml-0 {
    margin-left: 0rem;
  }

  .u-pc-mr-0 {
    margin-right: 0rem;
  }

  .u-pc-p-0 {
    padding: 0rem;
  }

  .u-pc-ph-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .u-pc-pv-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .u-pc-pt-0 {
    padding-top: 0rem;
  }

  .u-pc-pb-0 {
    padding-bottom: 0rem;
  }

  .u-pc-pl-0 {
    padding-left: 0rem;
  }

  .u-pc-pr-0 {
    padding-right: 0rem;
  }

  .u-pc-m-1 {
    margin: 1rem;
  }

  .u-pc-mh-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .u-pc-mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .u-pc-mt-1 {
    margin-top: 1rem;
  }

  .u-pc-mb-1 {
    margin-bottom: 1rem;
  }

  .u-pc-ml-1 {
    margin-left: 1rem;
  }

  .u-pc-mr-1 {
    margin-right: 1rem;
  }

  .u-pc-p-1 {
    padding: 1rem;
  }

  .u-pc-ph-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .u-pc-pv-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .u-pc-pt-1 {
    padding-top: 1rem;
  }

  .u-pc-pb-1 {
    padding-bottom: 1rem;
  }

  .u-pc-pl-1 {
    padding-left: 1rem;
  }

  .u-pc-pr-1 {
    padding-right: 1rem;
  }

  .u-pc-m-2 {
    margin: 2rem;
  }

  .u-pc-mh-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .u-pc-mv-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .u-pc-mt-2 {
    margin-top: 2rem;
  }

  .u-pc-mb-2 {
    margin-bottom: 2rem;
  }

  .u-pc-ml-2 {
    margin-left: 1.2rem;
  }

  .u-pc-mr-2 {
    margin-right: 2rem;
  }

  .u-pc-p-2 {
    padding: 2rem;
  }

  .u-pc-ph-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .u-pc-pv-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .u-pc-pt-2 {
    padding-top: 2rem;
  }

  .u-pc-pb-2 {
    padding-bottom: 2rem;
  }

  .u-pc-pl-2 {
    padding-left: 2rem;
  }

  .u-pc-pr-2 {
    padding-right: 2rem;
  }

  .u-pc-m-3 {
    margin: 3rem;
  }

  .u-pc-mh-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .u-pc-mv-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .u-pc-mt-3 {
    margin-top: 3rem;
  }

  .u-pc-mb-3 {
    margin-bottom: 3rem;
  }

  .u-pc-ml-3 {
    margin-left: 3rem;
  }

  .u-pc-mr-3 {
    margin-right: 3rem;
  }

  .u-pc-p-3 {
    padding: 3rem;
  }

  .u-pc-ph-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .u-pc-pv-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .u-pc-pt-3 {
    padding-top: 3rem;
  }

  .u-pc-pb-3 {
    padding-bottom: 3rem;
  }

  .u-pc-pl-3 {
    padding-left: 3rem;
  }

  .u-pc-pr-3 {
    padding-right: 3rem;
  }

  .u-pc-m-4 {
    margin: 4rem;
  }

  .u-pc-mh-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .u-pc-mv-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .u-pc-mt-4 {
    margin-top: 4rem;
  }

  .u-pc-mb-4 {
    margin-bottom: 4rem;
  }

  .u-pc-ml-4 {
    margin-left: 4rem;
  }

  .u-pc-mr-4 {
    margin-right: 4rem;
  }

  .u-pc-p-4 {
    padding: 4rem;
  }

  .u-pc-ph-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .u-pc-pv-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .u-pc-pt-4 {
    padding-top: 4rem;
  }

  .u-pc-pb-4 {
    padding-bottom: 4rem;
  }

  .u-pc-pl-4 {
    padding-left: 4rem;
  }

  .u-pc-pr-4 {
    padding-right: 4rem;
  }

  .u-pc-m-5 {
    margin: 5rem;
  }

  .u-pc-mh-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .u-pc-mv-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .u-pc-mt-5 {
    margin-top: 5rem;
  }

  .u-pc-mb-5 {
    margin-bottom: 5rem;
  }

  .u-pc-ml-5 {
    margin-left: 5rem;
  }

  .u-pc-mr-5 {
    margin-right: 5rem;
  }

  .u-pc-p-5 {
    padding: 5rem;
  }

  .u-pc-ph-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .u-pc-pv-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .u-pc-pt-5 {
    padding-top: 5rem;
  }

  .u-pc-pb-5 {
    padding-bottom: 5rem;
  }

  .u-pc-pl-5 {
    padding-left: 5rem;
  }

  .u-pc-pr-5 {
    padding-right: 5rem;
  }

  .u-pc-m-6 {
    margin: 6rem;
  }

  .u-pc-mh-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .u-pc-mv-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .u-pc-mt-6 {
    margin-top: 6rem;
  }

  .u-pc-mb-6 {
    margin-bottom: 6rem;
  }

  .u-pc-ml-6 {
    margin-left: 6rem;
  }

  .u-pc-mr-6 {
    margin-right: 6rem;
  }

  .u-pc-p-6 {
    padding: 6rem;
  }

  .u-pc-ph-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .u-pc-pv-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .u-pc-pt-6 {
    padding-top: 6rem;
  }

  .u-pc-pb-6 {
    padding-bottom: 6rem;
  }

  .u-pc-pl-6 {
    padding-left: 6rem;
  }

  .u-pc-pr-6 {
    padding-right: 6rem;
  }

  .u-pc-m-7 {
    margin: 7rem;
  }

  .u-pc-mh-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .u-pc-mv-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .u-pc-mt-7 {
    margin-top: 7rem;
  }

  .u-pc-mb-7 {
    margin-bottom: 7rem;
  }

  .u-pc-ml-7 {
    margin-left: 7rem;
  }

  .u-pc-mr-7 {
    margin-right: 7rem;
  }

  .u-pc-p-7 {
    padding: 7rem;
  }

  .u-pc-ph-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .u-pc-pv-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .u-pc-pt-7 {
    padding-top: 7rem;
  }

  .u-pc-pb-7 {
    padding-bottom: 7rem;
  }

  .u-pc-pl-7 {
    padding-left: 7rem;
  }

  .u-pc-pr-7 {
    padding-right: 7rem;
  }

  .u-pc-m-8 {
    margin: 8rem;
  }

  .u-pc-mh-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .u-pc-mv-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .u-pc-mt-8 {
    margin-top: 8rem;
  }

  .u-pc-mb-8 {
    margin-bottom: 8rem;
  }

  .u-pc-ml-8 {
    margin-left: 8rem;
  }

  .u-pc-mr-8 {
    margin-right: 8rem;
  }

  .u-pc-p-8 {
    padding: 8rem;
  }

  .u-pc-ph-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .u-pc-pv-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .u-pc-pt-8 {
    padding-top: 8rem;
  }

  .u-pc-pb-8 {
    padding-bottom: 8rem;
  }

  .u-pc-pl-8 {
    padding-left: 8rem;
  }

  .u-pc-pr-8 {
    padding-right: 8rem;
  }

  .u-pc-m-9 {
    margin: 9rem;
  }

  .u-pc-mh-9 {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  .u-pc-mv-9 {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }

  .u-pc-mt-9 {
    margin-top: 9rem;
  }

  .u-pc-mb-9 {
    margin-bottom: 9rem;
  }

  .u-pc-ml-9 {
    margin-left: 9rem;
  }

  .u-pc-mr-9 {
    margin-right: 9rem;
  }

  .u-pc-p-9 {
    padding: 9rem;
  }

  .u-pc-ph-9 {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .u-pc-pv-9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .u-pc-pt-9 {
    padding-top: 9rem;
  }

  .u-pc-pb-9 {
    padding-bottom: 9rem;
  }

  .u-pc-pl-9 {
    padding-left: 9rem;
  }

  .u-pc-pr-9 {
    padding-right: 9rem;
  }

  .u-pc-m-10 {
    margin: 10rem;
  }

  .u-pc-mh-10 {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .u-pc-mv-10 {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .u-pc-mt-10 {
    margin-top: 10rem;
  }

  .u-pc-mb-10 {
    margin-bottom: 10rem;
  }

  .u-pc-ml-10 {
    margin-left: 10rem;
  }

  .u-pc-mr-10 {
    margin-right: 10rem;
  }

  .u-pc-p-10 {
    padding: 10rem;
  }

  .u-pc-ph-10 {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .u-pc-pv-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .u-pc-pt-10 {
    padding-top: 10rem;
  }

  .u-pc-pb-10 {
    padding-bottom: 10rem;
  }

  .u-pc-pl-10 {
    padding-left: 10rem;
  }

  .u-pc-pr-10 {
    padding-right: 10rem;
  }
}
@media screen and (max-width: 750px) {
  .u-sp-m-0 {
    margin: 0rem;
  }

  .u-sp-mh-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .u-sp-mv-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .u-sp-mt-0 {
    margin-top: 0rem;
  }

  .u-sp-mb-0 {
    margin-bottom: 0rem;
  }

  .u-sp-ml-0 {
    margin-left: 0rem;
  }

  .u-sp-mr-0 {
    margin-right: 0rem;
  }

  .u-sp-p-0 {
    padding: 0rem;
  }

  .u-sp-ph-0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .u-sp-pv-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .u-sp-pt-0 {
    padding-top: 0rem;
  }

  .u-sp-pb-0 {
    padding-bottom: 0rem;
  }

  .u-sp-pl-0 {
    padding-left: 0rem;
  }

  .u-sp-pr-0 {
    padding-right: 0rem;
  }

  .u-sp-m-1 {
    margin: 1rem;
  }

  .u-sp-mh-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .u-sp-mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .u-sp-mt-1 {
    margin-top: 1rem;
  }

  .u-sp-mb-1 {
    margin-bottom: 1rem;
  }

  .u-sp-ml-1 {
    margin-left: 1rem;
  }

  .u-sp-mr-1 {
    margin-right: 1rem;
  }

  .u-sp-p-1 {
    padding: 1rem;
  }

  .u-sp-ph-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .u-sp-pv-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .u-sp-pt-1 {
    padding-top: 1rem;
  }

  .u-sp-pb-1 {
    padding-bottom: 1rem;
  }

  .u-sp-pl-1 {
    padding-left: 1rem;
  }

  .u-sp-pr-1 {
    padding-right: 1rem;
  }

  .u-sp-m-2 {
    margin: 2rem;
  }

  .u-sp-mh-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .u-sp-mv-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .u-sp-mt-2 {
    margin-top: 2rem;
  }

  .u-sp-mb-2 {
    margin-bottom: 2rem;
  }

  .u-sp-ml-2 {
    margin-left: 2rem;
  }

  .u-sp-mr-2 {
    margin-right: 2rem;
  }

  .u-sp-p-2 {
    padding: 2rem;
  }

  .u-sp-ph-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .u-sp-pv-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .u-sp-pt-2 {
    padding-top: 2rem;
  }

  .u-sp-pb-2 {
    padding-bottom: 2rem;
  }

  .u-sp-pl-2 {
    padding-left: 2rem;
  }

  .u-sp-pr-2 {
    padding-right: 2rem;
  }

  .u-sp-m-3 {
    margin: 3rem;
  }

  .u-sp-mh-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .u-sp-mv-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .u-sp-mt-3 {
    margin-top: 3rem;
  }

  .u-sp-mb-3 {
    margin-bottom: 3rem;
  }

  .u-sp-ml-3 {
    margin-left: 3rem;
  }

  .u-sp-mr-3 {
    margin-right: 3rem;
  }

  .u-sp-p-3 {
    padding: 3rem;
  }

  .u-sp-ph-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .u-sp-pv-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .u-sp-pt-3 {
    padding-top: 3rem;
  }

  .u-sp-pb-3 {
    padding-bottom: 3rem;
  }

  .u-sp-pl-3 {
    padding-left: 3rem;
  }

  .u-sp-pr-3 {
    padding-right: 3rem;
  }

  .u-sp-m-4 {
    margin: 4rem;
  }

  .u-sp-mh-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .u-sp-mv-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .u-sp-mt-4 {
    margin-top: 4rem;
  }

  .u-sp-mb-4 {
    margin-bottom: 4rem;
  }

  .u-sp-ml-4 {
    margin-left: 4rem;
  }

  .u-sp-mr-4 {
    margin-right: 4rem;
  }

  .u-sp-p-4 {
    padding: 4rem;
  }

  .u-sp-ph-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .u-sp-pv-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .u-sp-pt-4 {
    padding-top: 4rem;
  }

  .u-sp-pb-4 {
    padding-bottom: 4rem;
  }

  .u-sp-pl-4 {
    padding-left: 4rem;
  }

  .u-sp-pr-4 {
    padding-right: 4rem;
  }

  .u-sp-m-5 {
    margin: 5rem;
  }

  .u-sp-mh-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .u-sp-mv-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .u-sp-mt-5 {
    margin-top: 5rem;
  }

  .u-sp-mb-5 {
    margin-bottom: 5rem;
  }

  .u-sp-ml-5 {
    margin-left: 5rem;
  }

  .u-sp-mr-5 {
    margin-right: 5rem;
  }

  .u-sp-p-5 {
    padding: 5rem;
  }

  .u-sp-ph-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .u-sp-pv-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .u-sp-pt-5 {
    padding-top: 5rem;
  }

  .u-sp-pb-5 {
    padding-bottom: 5rem;
  }

  .u-sp-pl-5 {
    padding-left: 5rem;
  }

  .u-sp-pr-5 {
    padding-right: 5rem;
  }

  .u-sp-m-6 {
    margin: 6rem;
  }

  .u-sp-mh-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .u-sp-mv-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .u-sp-mt-6 {
    margin-top: 6rem;
  }

  .u-sp-mb-6 {
    margin-bottom: 6rem;
  }

  .u-sp-ml-6 {
    margin-left: 6rem;
  }

  .u-sp-mr-6 {
    margin-right: 6rem;
  }

  .u-sp-p-6 {
    padding: 6rem;
  }

  .u-sp-ph-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .u-sp-pv-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .u-sp-pt-6 {
    padding-top: 6rem;
  }

  .u-sp-pb-6 {
    padding-bottom: 6rem;
  }

  .u-sp-pl-6 {
    padding-left: 6rem;
  }

  .u-sp-pr-6 {
    padding-right: 6rem;
  }

  .u-sp-m-7 {
    margin: 7rem;
  }

  .u-sp-mh-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .u-sp-mv-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .u-sp-mt-7 {
    margin-top: 7rem;
  }

  .u-sp-mb-7 {
    margin-bottom: 7rem;
  }

  .u-sp-ml-7 {
    margin-left: 7rem;
  }

  .u-sp-mr-7 {
    margin-right: 7rem;
  }

  .u-sp-p-7 {
    padding: 7rem;
  }

  .u-sp-ph-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .u-sp-pv-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .u-sp-pt-7 {
    padding-top: 7rem;
  }

  .u-sp-pb-7 {
    padding-bottom: 7rem;
  }

  .u-sp-pl-7 {
    padding-left: 7rem;
  }

  .u-sp-pr-7 {
    padding-right: 7rem;
  }

  .u-sp-m-8 {
    margin: 8rem;
  }

  .u-sp-mh-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .u-sp-mv-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .u-sp-mt-8 {
    margin-top: 8rem;
  }

  .u-sp-mb-8 {
    margin-bottom: 8rem;
  }

  .u-sp-ml-8 {
    margin-left: 8rem;
  }

  .u-sp-mr-8 {
    margin-right: 8rem;
  }

  .u-sp-p-8 {
    padding: 8rem;
  }

  .u-sp-ph-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .u-sp-pv-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .u-sp-pt-8 {
    padding-top: 8rem;
  }

  .u-sp-pb-8 {
    padding-bottom: 8rem;
  }

  .u-sp-pl-8 {
    padding-left: 8rem;
  }

  .u-sp-pr-8 {
    padding-right: 8rem;
  }

  .u-sp-m-9 {
    margin: 9rem;
  }

  .u-sp-mh-9 {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  .u-sp-mv-9 {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }

  .u-sp-mt-9 {
    margin-top: 9rem;
  }

  .u-sp-mb-9 {
    margin-bottom: 9rem;
  }

  .u-sp-ml-9 {
    margin-left: 9rem;
  }

  .u-sp-mr-9 {
    margin-right: 9rem;
  }

  .u-sp-p-9 {
    padding: 9rem;
  }

  .u-sp-ph-9 {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .u-sp-pv-9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .u-sp-pt-9 {
    padding-top: 9rem;
  }

  .u-sp-pb-9 {
    padding-bottom: 9rem;
  }

  .u-sp-pl-9 {
    padding-left: 9rem;
  }

  .u-sp-pr-9 {
    padding-right: 9rem;
  }

  .u-sp-m-10 {
    margin: 10rem;
  }

  .u-sp-mh-10 {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .u-sp-mv-10 {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .u-sp-mt-10 {
    margin-top: 10rem;
  }

  .u-sp-mb-10 {
    margin-bottom: 10rem;
  }

  .u-sp-ml-10 {
    margin-left: 10rem;
  }

  .u-sp-mr-10 {
    margin-right: 10rem;
  }

  .u-sp-p-10 {
    padding: 10rem;
  }

  .u-sp-ph-10 {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .u-sp-pv-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .u-sp-pt-10 {
    padding-top: 10rem;
  }

  .u-sp-pb-10 {
    padding-bottom: 10rem;
  }

  .u-sp-pl-10 {
    padding-left: 10rem;
  }

  .u-sp-pr-10 {
    padding-right: 10rem;
  }
}
/**
 * Display Styles
 */
.u-display-block {
  display: block !important;
}

.u-display-inline-block {
  display: inline-block !important;
}

.u-display-flex {
  display: flex !important;
}

.u-display-none {
  display: none !important;
}

@media screen and (min-width: 751px) {
  .u-pc-display-block {
    display: block !important;
  }

  .u-pc-display-inline-block {
    display: inline-block !important;
  }

  .u-pc-display-flex {
    display: flex !important;
  }

  .u-pc-display-none {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .u-sp-display-block {
    display: block !important;
  }

  .u-sp-display-inline-block {
    display: inline-block !important;
  }

  .u-sp-display-flex {
    display: flex !important;
  }

  .u-sp-display-none {
    display: none !important;
  }
}
/**
 * Flex Box
 */
.u-flex {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
}
.u-flex-row-reverse {
  -moz-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.u-flex-column {
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.u-flex-column-reverse {
  -moz-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.u-flex-wrap {
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-flex-justify-flex-start {
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
}

.u-flex-justify-flex-end {
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

.u-flex-justify-center {
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.u-flex-justify-space-between {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.u-flex-justify-space-around {
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}

.u-flex-align-flex-start {
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}

.u-flex-align-flex-end {
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}

.u-flex-align-center {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.u-flex-align-space-between {
  -moz-align-items: space-between;
  -ms-align-items: space-between;
  -o-align-items: space-between;
  align-items: space-between;
}

@media screen and (min-width: 751px) {
  .u-pc-flex {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
  }
  .u-pc-flex-row-reverse {
    -moz-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .u-pc-flex-column {
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .u-pc-flex-column-reverse {
    -moz-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .u-pc-flex-wrap {
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .u-pc-flex-justify-flex-start {
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
  }

  .u-pc-flex-justify-flex-end {
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }

  .u-pc-flex-justify-center {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }

  .u-pc-flex-justify-space-between {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }

  .u-pc-flex-justify-space-around {
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
  }

  .u-pc-flex-align-flex-start {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
  }

  .u-pc-flex-align-flex-end {
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
  }

  .u-pc-flex-align-center {
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }

  .u-pc-flex-align-space-between {
    -moz-align-items: space-between;
    -ms-align-items: space-between;
    -o-align-items: space-between;
    align-items: space-between;
  }
}
@media screen and (max-width: 750px) {
  .u-sp-flex {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
  }
  .u-sp-flex-row-reverse {
    -moz-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .u-sp-flex-column {
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .u-sp-flex-column-reverse {
    -moz-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .u-sp-flex-wrap {
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .u-sp-flex-justify-flex-start {
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
  }

  .u-sp-flex-justify-flex-end {
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }

  .u-sp-flex-justify-center {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }

  .u-sp-flex-justify-space-between {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }

  .u-sp-flex-justify-space-around {
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
  }

  .u-sp-flex-align-flex-start {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
  }

  .u-sp-flex-align-flex-end {
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
  }

  .u-sp-flex-align-center {
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }

  .u-sp-flex-align-space-between {
    -moz-align-items: space-between;
    -ms-align-items: space-between;
    -o-align-items: space-between;
    align-items: space-between;
  }
}
/**
 * FLOAT
 */
.u-clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clear {
  clear: both;
}

@media screen and (min-width: 751px) {
  .u-pc-float-left {
    float: left;
  }

  .u-pc-float-right {
    float: right;
  }

  .u-pc-clear {
    clear: both;
  }
}
@media screen and (max-width: 750px) {
  .u-sp-float-left {
    float: left;
  }

  .u-sp-float-right {
    float: right;
  }

  .u-sp-clear {
    clear: both;
  }
}
.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
  width: 354px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 9999px;
  position: relative;
  &.type2 {
    transition: all .25s;
    &:hover {
      opacity: .7;
    }
  }
}
@media screen and (max-width: 750px) {
  .c-button {
    width: 100%;
  }
}
.c-button__arrow {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.4rem;
}
.c-button.is-large {
  font-size: 2rem;
  width: 420px;
  height: 70px;
}
@media screen and (max-width: 750px) {
  .c-button.is-large {
    width: 100%;
    height: 7rem;
  }
}
.c-button.is-short {
    width: 9.8rem;
    height: 2.4rem;
    font-size: 1.0rem;
}
.c-button.is-yellow {
  color: $color-white;
  background: $color-blue;
  border-color: $color-blue;
  @include transition(color,background-color,border-color);
}
.c-button.is-yellow:hover {
  background: $color-white;
  color: $color-blue;
}
.c-button.is-yellow .c-button__arrow {
  background: $color-black;
  color: #FFD500;
}
.c-button.is-yellow:hover .c-button__arrow {
  background: #FFD500;
  color: $color-black;
}
.c-button.is-black {
  color: $color-white;
  background: $color-blue;
  border-color: $color-blue;
  @include transition(color,background-color,border-color);
}
.c-button.is-black:hover {
  color: $color-blue;
  background: $color-white;
}
.c-button.is-black .c-button__arrow {
  background: $color-white;
  color: $color-black;
}
.c-button.is-black:hover .c-button__arrow {
  background: $color-black;
  color: $color-white;
}
@media screen and (max-width: 750px) {
  .c-form__row__field {
    padding: 0;
  }
}
.c-form__required {
  display: inline-block;
  line-height: 1;
  font-size: 1.0rem;
  font-weight: normal;
  padding: 0.1em 0.2em;
  color: #F00;
  border: 1px solid #f00;
  @include mq() {
    font-size: fs(12);
  }
}
.c-form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 22rem;
  height: 3.8rem;
  background: $color-white;
  border: 1px solid #ccc;
  padding: 0 1.5rem;
  font-size: 1.0rem;
}
@media screen and (max-width: 750px) {
  .c-form__input {
    width: 100%;
    font-size: initial;
  }
}
.c-form__input.is-short {
  width: 9em;
}
.c-form__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: $color-white;
  border: 1px solid #ccc;
  padding: 1.2rem;
  font-size: 1rem;
}
@media screen and (max-width: 750px) {
  .c-form__textarea {
    font-size: initial;
  }
}
.c-form__select {
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 750px) {
  .c-form__select {
    display: block;
    width: 100%;
  }
}

.c-form__select select {
  background: url(../images/common/icon-arrow-down-gray.svg) no-repeat center right 10px;
  background-size: 10px;
}

.c-form__select__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 22rem;
  height: 3.8rem;
  background: $color-white;
  border: 1px solid #ccc;
  padding: 0 1.5rem;
  font-size: 1.0rem;
}
.c-form__select__field::-ms-expand {
  display: none;
}
@media screen and (max-width: 750px) {
  .c-form__select__field {
    width: 100%;
    font-size: initial;
  }
}
.c-form__select__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 1.6rem;
  height: 1.6rem;
  right: 0.4rem;
  fill: #9F9F9F;
  pointer-events: none;
}
.mw_wp_form_confirm .c-form__select__icon {
  display: none;
}
.c-form__radio {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  flex-flow: column;
}
.mw_wp_form_confirm .c-form__radio {
  padding-top: 0;
  padding-bottom: 0;
}
.c-form__radio > .mwform-radio-field.horizontal-item {
  margin: 0 0 1rem;
}
.c-form__radio label {
  display: inline-flex;
  cursor: pointer;
  vertical-align: top;
}
.c-form__radio label > input {
  display: none;
}
.c-form__radio label > span {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.c-form__radio label > span::before {
  content: "";
  display: block;
  height: 2rem;
  width: 2rem;
  border: 1px solid #ccc;
  background: $color-white;
  margin-right: 0.6rem;
  border-radius: 50%;
  flex-shrink: 0;
}
.c-form__radio label > input:checked + span::before {
  border-color: $color-blue;
  background: $color-blue;
}
.c-form__radio label > input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  left: calc((32px - 0.8rem)/2);
  width: 0.8rem;
  height: 0.8rem;
  background: $color-white;
  border-radius: 50%;
}
.c-form__checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0;
  @include mq() {
    padding: 0.5rem 0;
  }
}
.mw_wp_form_confirm .c-form__checkbox {
  padding-top: 0;
  padding-bottom: 0;
}
.c-form__checkbox > .mwform-checkbox-field.horizontal-item + .mwform-checkbox-field.horizontal-item {
  margin-left: 2em;
}
.c-form__checkbox label {
  display: inline-flex;
  cursor: pointer;
  vertical-align: middle;
}
.c-form__checkbox label > input {
  display: none;
}
.c-form__checkbox label > span {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @include mq() {
    font-size: fs(12);
  }
}
.c-form__checkbox label > span .link-cbox {
  position: relative;
  transition: all .3s;
  text-decoration: underline;
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
}
.c-form__checkbox label > span::before {
  content: "";
  display: block;
  height: 2rem;
  width: 2rem;
  border: 1px solid #ccc;
  background: $color-white;
  margin-right: 0.8rem;
  flex-shrink: 0;
  @include mq() {
    width: 1.2rem;
    height: 1.2rem
  }
}
.c-form__checkbox label > input:checked + span::before {
  border-color: $color-blue;
  background: $color-blue;
}
.c-form__checkbox label > input:checked + span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    width: 1.2rem;
    height: 0.8rem;
    border-left: 0.2rem solid $color-white;
    border-bottom: 0.2rem solid $color-white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.v-contact__title {
  margin-bottom: 4rem;
  text-align: center;
}
@media screen and (max-width: 750px) {
    .c-form__checkbox label > input:checked + span::after {
        top: 0.8rem;
    }
}

/* For MW WP Form */
.mw_wp_form .error {
  color: #f00;
  margin-top: 0.5rem;
}

.mw_wp_form_confirm .is-hide-confirm {
  display: none;
}
.u-layout-smaller {
    width: 800px;
    margin: 0 auto;
    @include mq('tb2') {
      width: auto;
      margin: 0 1rem;
    }
}
@media screen and (max-width: 750px) {
    .u-layout,
    .u-layout-small,
    .u-layout-smaller,
    .u-sp-layout {
        margin: 0 1.5rem;
        width: auto;
    }    
}

// Custom title

.contact-content {
  margin-top: 100px;
  @include mq(sm2) {
    margin-top: 20px;
  }
  &--ttl {
    padding-top: 50px;
    font-weight: bold;
    font-size: fs(30);
    letter-spacing: 1.5px;
    text-align: center;
    border-top: dotted 1px #164FA0;
    @include mq(sm2) {
      font-size: fs(22);
    }
    &.phone {
      span {
        &:after {
          background-image: url(../images/common/icon/icon-tb-2.svg);
        }
      }
    }
    span {
      position: relative;
      display: inline-block;
      padding-left: 75px;
      @include mq(sm2) {
        padding-left: 46px;
      }
      &:after {
        position: absolute;
        top: -4px;
        left: 0;
        display: inline-block;
        width: 55px;
        height: 55px;
        background: url(../images/common/icon/icon-tb-4.svg) left center no-repeat;
        background-size: contain;
        content: "";
        @include mq(sm2) {
          top: -2px;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  &--phoneBox {
    width: 680px;
    margin: 30px auto 50px;
    padding: 30px 10px;
    background-color: #F8F9FA;
    text-align: center;
    max-width: 100%;
    &-ttl {
      font-size: fs(16);
      letter-spacing: .4px;
      font-weight: bold;
      margin-bottom: 10px;
      @include mq(sm2) {
        font-size: fs(14);
      }
    }
    &-num {
      margin-bottom: 5px;
      font-size: fs(36);
      font-weight: bold;
      font-family: $font-number;
      color: #164FA0;
      .link {
        display: inline-block;
      }
    }
  }
}

.contact-content--guide {
  font-size: fs(18);
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  @include mq(sm2) {
    font-size: fs(16);
  }
}

button.btn-gray.active.is-short.u-pc-ml-2 {
  padding: 5px 10px;
  border-radius: 5px;
  color: $color-white;
  background: $color-blue;
  border: solid 1px $color-blue;
  box-shadow: none;
  transition: all .25s;
  @include mq() {
    margin-left: 5px;
  }
  &:hover {
    color: $color-blue;
    background: $color-white;
  }
}