@charset "UTF-8";
/* -------------------
  SKILLS PAGE
--------------------*/
.corporation {
  &-post {
    padding: 23px 0 0;
    &__row {
      margin-bottom: 40px;
      .col2 {
        &-item {
          text-align: center;
        }
      }
      h3 {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: fs(18);
        line-height: fs(26);
        color: $color-blue;
      }
      h4 {
        position: relative;
        padding-left: 20px;
        font-weight: bold;
        font-size: fs(17);
        &:before {
          position: absolute;
          left: 0;
          top: 6px;
          display: block;
          width: 12px;
          height: 12px;
          background-color: #164fa0;
          content: "";
        }
        &._msg {
          &:before {
            border-radius: 50%;
          }
        }
        @include mq() {
          font-size: fs(15);
        }
      }
      &-reason {
        &-cnt {
          font-weight: normal;
          font-size: fs(16);
          line-height: fs(26);
          margin-bottom: 34px;
          @include mq() {
            margin-bottom: 20px;
            font-size: fs(14);
          }
          .slogan {
            font-weight: bold;
            margin: 10px 0;
            @include mq() {
            }
          }
          .note {
            margin-top: 5px;
            color: #C00;
          }
        }
      }

    }
  }
}