@charset "UTF-8";
/* -------------------
  ABOUT PAGE
--------------------*/
.news {
  &-detail {
    h2 {
      font-size: fs(30);
      font-weight: bold;
      margin-bottom: 1.5rem;
      @include mq() {
        font-size: fs(24);
      }
    }
    h3 {
      font-size: fs(24);
      font-weight: bold;
      margin-bottom: 1rem;
      @include mq() {
        font-size: fs(20);
      }
    }
    h4 {
      font-size: fs(22);
      font-weight: bold;
      margin-bottom: 1rem;
      @include mq() {
        font-size: fs(18);
      }
    }
    h5 {
      font-size: fs(18);
      font-weight: bold;
      margin-bottom: 1rem;
      @include mq() {
        font-size: fs(16);
      }
    }
    p {
      font-size: fs(16);
      margin-bottom: 1rem;
      @include mq() {
        font-size: fs(14);
      }
    }
  }
}

.p-news {
  &--detail {
    .btn-view-more {
      width: 280px;
      margin: 0 auto;
      @include mq() {
        width: 210px;
      }
      &Wrap {
        margin-top: 80px;
      }
    }
    &-head {
      display: flex;
      align-items: center;
      margin-top: 60px;
      margin-bottom: 40px;
      @include mq() {
        margin-bottom: 30px;
      }
      .date {
        margin-right: 20px;
        @include mq() {
          margin-right: 18px;
        }
      }
    }
    &-ttl {
      margin-bottom: 50px;
      font-size: fs(36);
      font-weight: bold;
      @include mq() {
        font-size: fs(28);
        margin-bottom: 30px;
      }
    }
    &-desc {
      margin-bottom: 70px;
      font-size: fs(16);
      @include mq() {
        margin-bottom: 50px;
        font-size: fs(15);
      }
    }
  }
}