@charset "UTF-8";
/* -------------------
  SKILLS PAGE
--------------------*/
.skills {
  &-post {
    padding: 45px 0 34px;
    &__img {
      width: (527/1168)*100%;
      padding-right: 0;
      @include mq() {
        width: 100%;
      }
      &.post-2 {
        width: (654/1168)*100%;
        order: 2;
        @include mq() {
          width: 100%;
        }
      }
    }
    &__cnt {
      width: calc(100% - (527/1168)*100%);
      padding-left: 33px;
      padding-right: 0;
      padding-bottom: 10px;
      @include flex;
      flex-flow: column;
      justify-content: space-between;
      @include mq() {
        width: 100%;
        padding-left: 0;
      }
      &.post-2 {
        width: calc(100% - (654/1168)*100%);
        align-items: center;
        flex-flow: inherit;
        padding-right: 50px;
        order: 1;
        @include mq() {
          width: 100%;
          padding-right: 0;
        }
      }
      p {
        font-weight: normal;
        font-size: fs(16);
        line-height: fs(28);
        margin-bottom: 20px;
        @include mq() {
          font-size: fs(14);
        }
      }
    }
  }
  &-tables {
    padding-bottom: 40px;
    &__cnt {
      overflow: auto;
      padding-bottom: 20px;
      table {
        min-width: 900px;
        border-collapse: collapse;
        border: 1px solid #C4C4C4;
        border-top-width: 0;
        thead {
          th {
            font-weight: bold;
            font-size: fs(16);
            color: $color-white;
            background-color: $color-blue-light;
            padding: 15px 12px;
            vertical-align: middle;
            border-right: 1px solid #C4C4C4;
            border-left: $color-blue-light;
            &:first-child {
              width: 5%;
            }
            &:nth-child(2) {
              width: 13.1%;
            }
            &:nth-child(3) {
              width: 13%;
            }
            &:nth-child(4) {
              width: 21.6%;
            }
            &:last-child {
              border-right-width: 0;
            }
          }
        }
        tbody {
          td {
            border: 1px solid #C4C4C4;
            font-weight: normal;
            font-size: fs(16);
            line-height: fs(26);
            text-align: center;
            vertical-align: middle;
            padding: 12px;
            height: 67px;
            &:nth-child(3) {
              font-weight: bold;
            }
            &[rowspan] {
              font-weight: normal;
              + td {
                font-weight: bold;
              }
            }
            &:last-child {
              text-align: left;
            }
            .col2 {
              justify-content: space-between;
              padding: 0 12px;
            }
          }
        }
      }
    }
  }
  &-introduce {
    padding: 70px 0 0;
    @include mq() {
      padding: 30px 0;
    }
    &__cnt {
      &__img {
        @include flex;
        align-items: flex-end;
        padding: 65px 0 35px;
        @include mq() {
          display: block;
          padding: 0 0 30px;
          text-align: center;
        }
        img {
          margin-bottom: 20px;
          vertical-align: bottom;
        }
      }
      p {
        font-size: fs(16);
        @include mq() {
          font-size: fs(14);
        }
      }
      .col3 {
        &-item {
          width: 30%;
          @include mq() {
            width: 100%;
          }
          &:nth-child(2) {
            text-align: center;
            width: 40%;
            @include mq() {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &-work {
    padding: 60px 0 19px;
    &__item {
      margin-bottom: 50px;
      h3 {
        text-align: center;
        font-weight: bold;
        font-size: fs(20);
        line-height: fs(28);
        color: $color-blue-light;
        @include mq() {
          margin-bottom: 20px;
        }
      }
      p {
        font-weight: normal;
        font-size: fs(16);
        line-height: fs(26);
        @include mq() {
          font-size: fs(14);
        }
      }
    }
    &__img {
      @include flex;
      align-items: flex-end;
      min-height: 233px;
      margin-bottom: 26px;
      text-align: center;
      @include mq() {
        display: block;
        min-height: auto;
        margin-bottom: 20px;
      }
    }
  }
}