@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.banner-top {
  @include flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 0;
  @include mq() {
    padding: 10px 0 0;
  }
  &__cnt {
    h2 {
      @include flex;
      flex-flow: column;
      position: absolute;
      left: 2.5%;
      margin-top: -10px;
      font-weight: bold;
      color: $color-white;
      @include transform_center(top);
      z-index: 1;
      @include mq() {
        margin-top: 0;
        bottom: 20px;
        top: inherit;
        left: 10px;
        @include transform(translate(0,0));
      }
      p {
        transition-duration: 2s !important;
        > span {
          display: inline-block;
          padding: 15px 50px;
          line-height: fs(60);
          display: inline-block;
          box-shadow: 0px 8px 10px rgba(22, 79, 160, 0.25);
          font-size: fs(50);
          @include mq('pc') {
            font-size: fs(40);
            line-height: fs(48);
          }
          @include mq('tb') {
            font-size: fs(30);
            line-height: fs(32);
          }
          @include mq('tb2') {
            font-size: fs(24);
            line-height: fs(26);
          }
          @include mq() {
            padding: 2px 20px;
            font-size: fs(20);
            line-height: 1.4;
          }
          @include mq('sm3') {
            font-size: fs(16);
            padding: 2px 10px;
            bottom: 16px;
          }
        }
        &.line-top {
          > span {
            background-color: $color-blue;
          }
          margin-bottom: 22px;
          @include mq() {
            margin-bottom: 9px;
          }
        }
        &.line-bottom {
          > span {
            background-color: $color-blue-light;
          }
        }
      }
    }
    .scroll-cnt {
      position: absolute;
      left: 2.5%;
      bottom: 38px;
      padding-top: 115px;
      height: 175px;
      @include mq('sm') {
        bottom: 0;
      }
      &:before {
        content: '';
        width: 1px;
        height: 97px;
        top: 0;
        left: 3px;
        position: absolute;
        background: linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0) 50%);
        background-position: 0 -97px;
        background-size: 100% 200%;
      }
      a {
        position: relative;
        z-index: 1;
        line-height: 1;
        font-weight: bold;
        font-size: fs(16);
        text-transform: uppercase;
        writing-mode: tb-rl;
        -ms-writing-mode: lr-tb;
        color: $color-base;
        @include mq('pc') {
          font-size: fs(16);
          line-height: fs(18);
        }
        @include mq('tb') {
          font-size: fs(14);
          line-height: fs(16);
        }
        @include mq('tb2') {
          font-size: fs(12);
          line-height: fs(13);
        }
      }
    }
  }
  &__img {
    width: 74%;
    @include mq() {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}
.about-us {
  padding: 28px 0 67px;
  font-weight: normal;
  @include mq() {
    padding: 21px 0 25px;
  }
  .text {
    font-size: fs(18);
    line-height: fs(26);
    margin-bottom: 36px;
    @include mq() {
      font-size: fs(12);
      line-height: fs(16);
      margin-bottom: 20px;
    }
  }
  &__image {
    position: relative;
    display: inline-block;
    padding: 17px 22px 35px 16px;
    @include mq() {
      padding: 14px 19px 23px 0;
    }
    &:after {
      content: '';
      position: absolute;
      left: 82px;
      right: -17px;
      top: 80px;
      bottom: 0;
      background-color: $color-blue-light;
      z-index: -1;
      @include mq() {
        left: 43px;
        right: -7px;
        top: 56px;
      }
    }
    img {
      box-shadow: 0 8px 20px rgba(22, 79, 160, 0.25);
    }
  }
}
.information {
  margin-bottom: 30px;
  @include mq() {
    margin-bottom: 50px;
  }
  &__item {
    position: relative;
    @include mq() {
      margin-bottom: 0;
    }
    &:hover {
      .information__image {
        &:after {
          background-color: $color-blue-light;
          opacity: 0.8;
        }
        img {
          @include transform(scale(1.1));
        }
      }
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-blue-op30;
      @include transition(background-color, opacity);
      transition-duration: 0.5s;
    }
    img {
      width: 100%;
      height: auto;
      @include transition(transform);
    }
  }
  &__cnt {
    @include flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    @include transform_center;
    color: $color-white;
    p {
      font-size: fs(25);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      line-height: 1;
      text-align: center;
      @include mq('pc') {
        font-size: fs(16);
      }
      @include mq('tb') {
        font-size: fs(16);
      }
      @include mq('tb2') {
        font-size: fs(14);
      }
      @include mq() {
        font-size: fs(18);
      }
      @include mq('sm3') {
        font-size: fs(14);
      }
    }
    h2 {
      font-size: fs(30);
      line-height: 1.6;
      font-weight: bold;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      text-align: center;
      @include mq('pc') {
        font-size: fs(23);
      }
      @include mq('tb') {
        font-size: fs(20);
      }
      @include mq('tb2') {
        font-size: fs(18);
      }
      @include mq() {
        font-size: fs(23);
      }
      @include mq('sm3') {
        font-size: fs(18);
      }
    }
  }
  &__txt {
    min-height: 130px;
    margin-bottom: 15px;
    @include flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include mq('sm') {
      min-height: 100px
    }
    @include mq() {
      min-height: 55px;
    }
  }
}
.news {
  margin-bottom: 47px;
  @include mq() {
    margin-bottom: 30px;
  }
  .container {
    @include mq() {
      padding: 0 7px;
    }
  }
  &__inner {
    padding: 40px 43px 40px 25px;
    background-color: $color-lavender;
    @include mq() {
      padding: 25px 13px 25px 16px;
    }
  }
  &__title {
    margin-bottom: 40px;
    @include mq() {
      margin-bottom: 25px;
    }
    h2 {
      padding-left: 59px;
      font-weight: bold;
      font-size: fs(30);
      line-height: fs(50);
      color: $color-blue;
      background: url(../images/common/icon/icon-news.svg) no-repeat left center;
      @include mq() {
        font-size: fs(20);
        line-height: inherit;
        background-size: 26px 26px;
        padding-left: 39px;
      }
    }
  }
  &__listWrap {
    // > ul {
    //   > li {
    //     position: relative;
    //     list-style: none;
    //     @include flex;
    //     align-items: center;
    //     padding: 15px 0;
    //     border-top: 1px dashed #C4C4C4;
    //     @include mq() {
    //       padding: 10px 0;
    //     }
    //     &:last-child {
    //       border-bottom: 1px dashed #C4C4C4;
    //     }
    //     > a {
    //       &:before {
    //         content: '';
    //         left: 0;
    //         height: 1px;
    //         width: 0;
    //         top: -1px;
    //         position: absolute;
    //         background-color: #164FA0;
    //         @include transition(width, opacity);
    //       }
    //       &:hover {
    //         opacity: 1;
    //         &:before {
    //           width: 100%;
    //         }
    //       }
    //     }
    //   }
    // }
  }
  &__list {

  }
  &__item {
      background-color: #fff;
      margin-bottom: 2px;
      transition: all .25s;

      &:hover {
        background-color: #b0cce9;
      }

      &-inner {
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 38px 25px 20px;
        @include mq() {
          display: block;
        }
        &:after {
          position: absolute;
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 8px;
          height: 12px;
          background: url(../images/common/icon-arrow-right.svg) no-repeat;
          background-size: contain;
          content: "";
          @include mq() {
            right: 15px;
          }
        }
      }

      &-dateWrap {
        display: flex;
        align-items: center;
        margin-right: 25px;
        @include mq() {
          flex-flow: row;
          align-items: center;
          margin-right: 0;
          margin-bottom: 5px;
        }
        .date {
          margin-right: 15px;
          @include mq() {
          }
        }
      }
    }
}
.banner-bottom {
  margin-bottom: 30px;
  @include mq() {
    margin-bottom: 24px;
  }
  ul {
    @include flexwrap;
    margin: 0 -18px;
    padding-top: 5px;
    @include mq() {
      margin: 0 -8px;
    }
    > li {
      width: 25%;
      padding: 0 18px;
      margin-bottom: 20px;
      @include mq() {
        width: 50%;
        padding: 0 8px;
      }
      a {
        display: block;
        @include transition(opacity);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.occupation {
  padding: 40px 0 50px;
  background-color: $color-lavender;
  @include mq() {
    padding: 12px 0 20px;
  }
  .slick-list {
    overflow: visible;
    @include mq() {
      width: 265px;
      margin: 0 auto;
    }
  }
  &__item {
    padding: 0 17px;
    &-inner {
      min-height: 100px;
      display: block;
      text-align: center;
      background-color: $color-white;
      p {
        display: block;
        font-weight: normal;
        height: 70px;
        font-size: fs(16);
        line-height: fs(24);
        padding: 16px 29px 10px 20px;
        @include mq(sm) {
          height: 80px;
          padding: 15px 29px 10px 20px;
        }
        @include mq() {
          height: 70px;
          min-height: 73px;
          font-size: fs(14);
          line-height: fs(16);
          padding: 14px 25px 10px 15px;
        }
      }
    }
    &-thumb {
      height: 180px;
      @include mq(sm) {
        height: 100px;
      }
      @include mq(sm2) {
        height: 150px;
      }
    }
  }
}
