@charset "UTF-8";
/* -------------------
	BREADCRUMB
--------------------*/
.breadcrumb {
  padding: 18px 0 12px;
  margin-bottom: 46px;
  border-bottom: 1px solid $color-blue-light;
  @include mq() {
    white-space: nowrap;
    overflow-x: auto;
  }
  &-wrapper {
    padding-top: 15px;
    @include mq() {
      padding: 0 0 5px 0; 
    }
  }
  ul {
    li {
      display: inline-block;
      position: relative;
      padding-right: 18px;
      color: $color-blue;
      font-weight: bold;
      position: relative;
      font-size: fs(15);
      line-height: fs(19);
      margin-right: 11px;
      @include mq() {
        font-size: fs(12);
      }
      a {
        display: inline-block;
        color: #C4C4C4;
        text-decoration: none;
        transition: all .3s;
        vertical-align: top;
        img {
          vertical-align: top;
          margin-top: -1px;
          @include mq() {
            margin: 0;
          }
        }
        &:hover {
          text-decoration: none;
        }
        &:after {
          content: '';
          width: 5px;
          height: 8px;
          position: absolute;
          right: 0;
          @include transform_center(top);
          background: url(../images/common/icon/icon-arrow-bcum.svg) no-repeat center center;
        }
      }
      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }
      // &:before {
      //   display: inline-block;
      //   position: absolute;
      //   top: 7px;
      //   right: 4px;
      //   width: 4px;
      //   height: 5px;
      //   background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
      //   content: "";
      // }
      @include mq() {
        margin-bottom: 8px;
      }
      a {
        transition: all .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}