@charset "UTF-8";
// ===========================
// Distance: margin, padding
// ===========================

$i : 10;
$max : 300;
$step : 5;
$unit: 1px;
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.m-center {
  margin: 0 auto;
}
@while $i < $max {
  .mb-#{$i} {
      margin-bottom: ($i * $unit)!important;
  }
  .mt-#{$i} {
      margin-top: ($i * $unit)!important;
  }
  .mr-#{$i} {
      margin-right: ($i * $unit)!important;
  }
  .ml-#{$i} {
      margin-left: ($i * $unit)!important;
  }
  .pb-#{$i} {
      padding-bottom: ($i * $unit)!important;
  }
  .pt-#{$i} {
      padding-top: ($i * $unit)!important;
  }
  .pr-#{$i} {
      padding-right: ($i * $unit)!important;
  }
  .pl-#{$i} {
      padding-left: ($i * $unit)!important;
  }
  $i: $i + $step;
}
@include mq('pc'){
  .pc{
    $i : 0;
    @while $i < $max {
      &-mb-#{$i} {
        margin-bottom: ($i * $unit)!important;
      }
      &-mt-#{$i} {
        margin-top: ($i * $unit)!important;
      }
      &-mr-#{$i} {
        margin-right: ($i * $unit)!important;
      }
      &-ml-#{$i} {
        margin-left: ($i * $unit)!important;
      }
      &-pb-#{$i} {
        padding-bottom: ($i * $unit)!important;
      }
      &-pt-#{$i} {
        padding-top: ($i * $unit)!important;
      }
      &-pr-#{$i} {
        padding-right: ($i * $unit)!important;
      }
      &-pl-#{$i} {
        padding-left: ($i * $unit)!important;
      }
      $i: $i + $step;
    }
  }
}
@include mq('sm'){
	.sp{
		$i : 10;
		@while $i < $max {
			&-mb-#{$i} {
				margin-bottom: ($i * $unit)!important;
			}
			&-mt-#{$i} {
				margin-top: ($i * $unit)!important;
			}
			&-mr-#{$i} {
				margin-right: ($i * $unit)!important;
			}
			&-ml-#{$i} {
				margin-left: ($i * $unit)!important;
			}
			&-pb-#{$i} {
				padding-bottom: ($i * $unit)!important;
			}
			&-pt-#{$i} {
				padding-top: ($i * $unit)!important;
			}
			&-pr-#{$i} {
				padding-right: ($i * $unit)!important;
			}
			&-pl-#{$i} {
				padding-left: ($i * $unit)!important;
			}
			$i: $i + $step;
		}
	}
}