// transition delay
.delay-1 {
  transition-delay: .1s !important;
}

.delay-2 {
  transition-delay: .2s !important;
}

.delay-3 {
  transition-delay: .3s !important;
}

.delay-4 {
  transition-delay: .4s !important;
}

.delay-5 {
  transition-delay: .5s !important;
}

.delay-6 {
  transition-delay: .6s !important;
}

.delay-7 {
  transition-delay: .7s !important;
}

.delay-8 {
  transition-delay: .8s !important;
}

.delay-9 {
  transition-delay: .9s !important;
}

.delay-10 {
  transition-delay: 1s !important;
}

.delay-11 {
  transition-delay: 1.1s !important;
}

.delay-12 {
  transition-delay: 1.2s !important;
}

.delay-13 {
  transition-delay: 1.3s !important;
}

.delay-14 {
  transition-delay: 1.4s !important;
}

.delay-15 {
  transition-delay: 1.5s !important;
}

.delay-16 {
  transition-delay: 1.6s !important;
}

.delay-17 {
  transition-delay: 1.7s !important;
}

.delay-18 {
  transition-delay: 1.8s !important;
}

.delay-19 {
  transition-delay: 1.9s !important;
}

.delay-20 {
  transition-delay: 2.0s !important;
}

.delay-21 {
  transition-delay: 2.1s !important;
}

.delay-22 {
  transition-delay: 2.2s !important;
}

.delay-23 {
  transition-delay: 2.3s !important;
}

.delay-24 {
  transition-delay: 2.4s !important;
}

// animation delay
.ani-delay-1 {
  animation-delay: .1s;
}

.ani-delay-2 {
  animation-delay: .2s;
}

.ani-delay-3 {
  animation-delay: .3s;
}

.ani-delay-4 {
  animation-delay: .4s;
}

.ani-delay-5 {
  animation-delay: .5s;
}

.ani-delay-6 {
  animation-delay: .6s;
}

.ani-delay-7 {
  animation-delay: .7s;
}

.ani-delay-8 {
  animation-delay: .8s;
}

.ani-delay-9 {
  animation-delay: .9s;
}

.ani-delay-10 {
  animation-delay: 1s;
}

.ani-delay-11 {
  animation-delay: 1.1s;
}

.ani-delay-12 {
  animation-delay: 1.2s;
}

.ani-delay-13 {
  animation-delay: 1.3s;
}

.ani-delay-14 {
  animation-delay: 1.4s;
}

.ani-delay-15 {
  animation-delay: 1.5s;
}

.ani-delay-16 {
  animation-delay: 1.6s;
}

.ani-delay-17 {
  animation-delay: 1.7s;
}

.ani-delay-18 {
  animation-delay: 1.8s;
}

.ani-delay-19 {
  animation-delay: 1.9s;
}

.ani-delay-20 {
  animation-delay: 2.0s;
}

.ani-delay-21 {
  animation-delay: 2.1s;
}

.ani-delay-22 {
  animation-delay: 2.2s;
}

.ani-delay-23 {
  animation-delay: 2.3s;
}

.ani-delay-24 {
  animation-delay: 2.4s;
}
