// Animation
.animated {
	transition-duration: 1s;
  &.fadein {
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    &.up {
      @include transform(translate3d(0, 1em, 0));
    }
    &.down {
      @include transform(translate3d(0, -1em, 0));
    }
    &.left {
      @include transform(translate3d(-1em, 0, 0));
    }
    &.right {
      @include transform(translate3d(1em, 0, 0));
    }
    &.show {
			opacity: 1;
			@include transform(translate3d(0, 0, 0)); 
    }
  }
}