@-webkit-keyframes ani-pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes ani-pulse {
   0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.ani-pulse {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  animation: ani-pulse .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes scrolldown {
	0%{
		background-position: 0 -97px;
	}
	75% {
		background-position: 0 0;
	}
	100%{
		background-position: 0 97px;
	}
}

.scroll-cnt {
  &:before {
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }
}